.productpage {
  max-width: 1300px;
  margin: 1rem auto;
  display: flex;
}

.productpage__right {
  display: flex;
  flex: 0.8;
}

.right__image {
  margin: 1rem;
  flex: 0.6;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.right__image>img {
  width: 75%;
  object-fit: contain;
  border-radius: 20px;
}

.right__info {
  margin: 1rem;
  flex: 0.4;
  background: #fff;
  height: fit-content;
  font-size: 0.9rem;
}

.right__name {
  font-weight: bold;
  font-size: 1.3rem;
}

.left__info>p,
.right__info>p {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.left__info>p:last-child,
.right__info>p:last-child {
  border: none;
}

.productpage__left {
  flex: 0.2;
}

.left__info {
  width: 250px;
  margin: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.left__info p {
  padding: 1rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left__info p>button {
  grid-column: 1/-1;
  width: 100%;
  padding: 10px 16px;
  background: var(--main_blue);
  color: #f4f4f4;
  border: 3px solid var(--border_btn);
  cursor: pointer;
  border-radius: 5px;
}

.left__info p>button:hover {
  opacity: 0.9;
}

.left__info select {
  padding: 10px 16px;
}


@media (max-width: 960px) {
  .productpage {
    flex-direction: column;
  }

  .productpage__right {
    flex-direction: column;
    flex: 1;
  }

  .right__image {
    flex: 1;
  }

  .right__info {
    flex: 1;
  }

  .productpage__left {
    flex: 1;
    padding: 1rem;
  }

  .left__info {
    width: 100%;
    margin: 0;
  }
}